@charset "utf-8";
/* CSS Document */
.sample {
	
}
.sample p {
	padding:10px 0;
	height: 40px;
}
.sample p label {
	float:left;
	width:120px;
	height:40px;
	line-height:40px;
	text-align:right;
}
.sample p input {
	float:left;
	width:200px;
	height:40px;
	line-height:40px;
	padding:0 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}
.sample p div.formSelect {
	margin-top:4px;
}
